{{ define "header"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html {
          text-align: center;
          font-size: 16px;
        }
        div {
          padding: 1rem;
        }
        #input {
          font-size: 16px;
        }
        p {
            font-size: 16px;
        }
      </style>
    <title>Document</title>
</head>
<body>
    <h1>hello world</h1>
    <h1>hello world</h1>
{{end}}
 
{{define "footer"}}
</body>
</html>
{{end}}