@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html {
      line-height: 1.5;
      -webkit-text-size-adjust: 100%;
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-feature-settings: normal;
      font-variation-settings: normal;
    }
  
    body {
      @apply h-screen w-full;
    }

    #root {
        @apply w-full h-full relative;
    }
    .button {
        @apply flex justify-center items-center h-10 w-full py-2 px-6 gap-4 rounded-full;
    }
    .input-form {
      @apply block w-full h-10 rounded-full border-0 px-3.5 py-2 text-black ring-black/10 focus:ring-1 focus:ring-indigo-500 sm:text-sm sm:leading-6;
    }
}