{{define "error"}}
{{template "head" .}}
<body class="dark:bg-primary text-white">
    <main class="md:w-[500px] h-screen flex gap-4 flex-col justify-center items-center mx-auto">
        <div class="text-center flex flex-col gap-4 items-center justify-center h-screen">
            <div>
              <h1 class="text-xl font-bold mb-2">Lost your way ?</h1>
              <p class="w-[75%] mx-auto">{{.Message}}</p>
            </div>
            <div>
              <a class="bg-gray-500/10 py-2 px-4 rounded-md border-2 border-gray-500/20 flex items-center justify-center" href="/posts">Back to your feed</a>
            </div>
          </div>
    </main>
</body>
{{end}}